@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

h1{
   text-align: center;
   font-size: 2.8rem;
   margin: 1.5rem 0;
}

.container{
  max-width: 1200px;
   margin:  auto 2rem;
   max-width: 100%;
}

h2 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2::after {
	content: '';
  background-color: orange;
	border-radius: 10px;
	position: absolute;
	bottom: -8px;
	left: 0;
	height: 4px;
	width: 80px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
  padding: 0;
}

ul li {
	background-color: #fff;
	box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
	margin: 20px;
  max-width: 450px;
  transition: all 0.15s ease-in-out;
  transform: translate(0px);
  border-bottom: 5px;
  border-bottom-color: lightgreen;
  border-bottom-style: solid;
}

ul li:hover{
    transform: translate(-2px, -8px);
}

ul li img {
	display: block;
	object-fit: cover;
	transition: transform 0.3s ease;
	height: 250px;
	max-width: 448px;
}

ul li p{
   margin: 0.8rem 0rem;
}
ul li a {
  color: black;
  font-size: 1.3rem;
  text-align: center;
	text-decoration: none;
}

footer{
   text-align: center;
   margin: 1rem 0rem;
}
footer a{
  font-size: 1.1rem;
  font-weight: bold;
   text-align: center;
   text-decoration: none;
   color: rgb(119, 111, 111);
}


@media(max-width: 550px){
  ul li,ul li img{
     max-width: 345px;
  }
  h1{
     font-size: 2.2rem;
  }
  h2{
     font-size: 1.3rem;
  }
  footer{
     margin: 0.3rem;
  }
}